@model ISTP_LABA_3.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.OfferType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.OfferType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offer.Bank.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offer.Bank.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SigningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SigningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
